* {
    /*retirando o recuo da página*/
    margin: 0;
    padding: 0;
}

body {
    background-color: #073c5c;
}

header {
    /*chamando o header para estilização*/
    padding: 4rem;
    /*danod tamanho ao header*/
    background-color: #276285;
    /*dando cor ao header*/
    font-size: 1.5em;
    /*tamanho da letra*/
}

header ul {
    display: flex;
    /*colocando as listas uma ao lado da outra*/
    justify-content: center;
    /*colocando as listas ao centro do header*/
}

header ul li {
    margin-left: 10px;
    /*margem ao lado esquerdo das listas*/
    list-style: none;
    /*tirando a marcação das listas */
}

header li a {
    text-decoration: none;
    /*tirando a decoração da ancora para conseguir estilizar*/
    color: white;
    /*cor nas letras*/
}

header li a:hover {
    color: #368cc2e0;
    /*ao passar o mouse altera a cor da fonte*/
    transition: 0.9s;
    /*tempo de transição*/
}

.banner1 {
    padding: 25rem;
    /*tamanho da sessão*/
    background-image: url(imagens/Banner\ 01.jpg);
    /*imagem de fundo*/
    background-repeat: no-repeat;
    /*não repetir a imagem*/
    background-size: cover;
    /*tamanho da imagem*/
}

div {
    padding: 12rem;
    /*tamanho da div*/
    background-color: #073c5c;
    /*cor de fundo da div*/
    display: flex;
    /*tornando tudo o que tem dentro da div em flex (um ao lado do outro)*/
    font-size: 1.5em;
    /*tamanho da letra*/
    color: white;
    /*cor da letra*/
}

div p {
    margin-right: 15px;
    /*margem da direita entre os paragrafos*/
}

.banner2 {
    padding: 25rem;
    /*tamanho da sessão*/
    background-image: url(imagens/Banner\ 02.jpg);
    /*imagem de fundo*/
    background-repeat: no-repeat;
    /*não repetir a imagem*/
    background-size: cover;
    /*tamanho da imagem*/
}

.paragrafos2 {
    padding: 12rem;
    /*tamanho da div*/
    background-color: #073c5c;
    /*cor de fundo da div*/
    display: flex;
    /*tornando tudo o que tem dentro da div em flex (um ao lado do outro)*/
    font-size: 1.5em;
    /*tamanho da letra*/
    color: white;
    /*cor da letra*/
}

footer {
    padding: 1.4rem;
    /*danod tamanho ao footer*/
    background-color: #276285;
    /*dando cor ao footer*/
    font-size: 1.5em;
    /*tamanho da letra*/
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer ul li {
    margin: 20 auto;
    list-style: none;
}

footer li a {
    text-decoration: none;
    color: white;
}

footer li a:hover {
    color: #073c5c;
    transition: 0.9s;
}


@media screen and (max-width:480px) {
    header {
        padding: 7%;
        width: 45.8rem;
        background-color: #276285;
        font-size: 1.2rem;
    }

    header ul {
        display: flex;
        justify-content: center;
    }

    header li a {
        text-decoration: none;
        color: white;
    }

    header li a:hover {
        color: #368cc2e0;
        transition: 0.9s;
    }

    .banner1 {
        padding: 10%;
        width: 44rem;
        height: 20rem;
        background-image: url(imagens/Banner\ 01.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    div {
        padding: 5%;
        height: 20rem;
        background-color: #073c5c;
        display: flex;
        font-size: 1.2rem;
        color: white;
    }

    .paragrafos {
        padding: 12%;
        width: 40rem;
        background-color: #073c5c;
        display: flex;
        font-size: 1.6em;
        color: white;
        margin-left: 20px;

    }

    .banner2 {
        padding: 40%;
        width: 25rem;
        height: 5rem;
        background-image: url(imagens/Banner\ 02.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .paragrafos2 {
        padding: 12%;
        width: 40rem;
        background-color: #073c5c;
        display: flex;
        font-size: 1.6em;
        color: white;
        margin-left: 20px;
    }

    
footer {
    padding: 8%;
    width: 45rem;
    background-color: #276285;
    font-size: 1rem;
}

footer ul {
    display: flex;
    justify-content: space-around;
}

footer ul li {
    margin: 20 auto;
    list-style: none;
}

footer li a {
    text-decoration: none;
    color: white;
}

footer li a:hover {
    color: #073c5c;
    transition: 0.9s;
}

}